@import "src/assets/styles/_varibles.scss";
@import "src/assets/styles/utils";

.playlist-item-container {
  @extend .pointer;

  flex-grow: 1;
  padding: 0 10px;

  .playlist-item-photo-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    min-height: 200px;
  }

  .playlist-item-title {
    margin-top: 12px 0;
    color: $text-color;
  }

  .playlist-item-desc {
    color: $text-secondary;
  }

  @media screen and (min-width: 1440px) {
    width: 222px;
    height: 260px;
  }

  @media screen and (max-width: 1350px) {
    &[order="4"] {
      display: none;
    }
  }

  @media screen and (max-width: 1080px) {
    &[order="3"] {
      display: none;
    }
  }

  @media screen and (max-width: 730px) {
    &[order="2"] {
      display: none;
    }
  }

  @media screen and (max-width: 426px) {
    &[order="2"],
    &[order="1"] {
      display: none;
    }
  }
}
