@import "src/assets/styles/_varibles.scss";

.event-item-header {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  width: 100%;
  aspect-ratio: 1.8;

  .event-item-header-opacity {
    position: absolute;
    inset: 0;
    background-image:
      linear-gradient(
        180deg,
        transparent 27%,
        rgb(0 0 0 / 78%)
      );
  }

  @media screen and (min-width: 1440px) {
    max-height: 190px;
  }
}
