@import "src/assets/styles/_varibles.scss";

.top-song-item-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 80px;
  padding: 10px 15px;
  background-color: $top-song-bg-color;

  .top-song-item-rank {
    font-size: 3.2rem;
  }

  .top-song-item-rank-first {
    -webkit-text-stroke: 1px #4a90e2;
  }

  .top-song-item-rank-second {
    -webkit-text-stroke: 1px #50e3c2;
  }

  .top-song-item-rank-third {
    -webkit-text-stroke: 1px #e35050;
  }

  .top-song-item-photo {
    border-radius: 5px;
  }

  .top-song-item-percent {
    position: absolute;
    right: 0;
    font-size: 1.6rem;
  }

  .top-song-item-title {
    font-size: 1.4rem;
  }

  .top-song-item-artists {
    font-size: 1.2rem;
  }

  > div {
    margin-right: 15px;

    &:last-of-type {
      margin-left: 30px;
    }
  }
}
