@import "src/assets/styles/utils";

.week-chart-item-photo-container {
  @extend .pointer;

  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  height: 100px;
  aspect-ratio: 3/1;

  @media screen and (min-width: 1440px) {
    width: 340px;
  }

  @media screen and (max-width: 930px) {
    &[order="2"] {
      display: none;
    }
  }

  @media screen and (max-width: 500px) {
    &[order="1"] {
      display: none;
    }
  }
}
