@import "src/assets/styles/ultilities.scss";
@import "src/assets/styles/varibles";

.sidebar-item-container {
  border-left: 2px solid transparent;
  padding: 7px 25px;

  @extend .darkness;
}

.sidebar-item-active {
  border-color: $banner-background-color;
  background-color: $active-background-color;
}

.sidebar-item-container:hover {
  @extend .pointer;
  @extend .hover-brightness;
}

.sidebar-item-right-margin {
  margin-right: 10px;
}

.sidebar-item-left-margin {
  margin-left: 10px;
}

.sidebar-item-content {
  display: flex;
  align-items: center;
}
