@import "src/assets/styles/utils";

.carousel-item {
  @extend .pointer;

  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 30px;
  aspect-ratio: 1.78;

  @media screen and (min-width: 1440px) {
    height: 190px;
  }
}
