@import "src/assets/styles/_varibles.scss";

.button-container {
  border-radius: 20px;
  padding: 5px 25px;
  font-size: 1.4rem;
  cursor: pointer;

  @media screen and (max-width: 376px) {
    padding: 5px;
  }
}

.border-white {
  border: 1px solid white;
}

.background-transparent {
  background-color: transparent;
}

.background-purple {
  background-color: $background-purple;
}

.border-none {
  border: none;
}

.text-secondary {
  color: $text-secondary;
}

.button-arrow {
  &::after {
    content: "\003E";
    padding-left: 5px;
    font-size: 20px;
  }
}
