@import "src/assets/styles/varibles";
@import "src/assets/styles/utils";

.event-item {
  @extend .pointer;

  flex-basis: 0;
  flex-grow: 1;
  background-color: $home-background-color;

  @media screen and (min-width: 1440px) {
    max-width: 340px;
  }

  @media screen and (max-width: 780px) {
    &[order="2"] {
      display: none;
    }
  }

  @media screen and (max-width: 600px) {
    width: 100%;

    &[order="1"] {
      display: none;
    }
  }
}
