@import "../../../../assets/styles/ultilities.scss";
@import "../../../../assets/styles/varibles";

.sidebar-item-container {
  padding: 7px 25px;
  border-left: 2px solid transparent;

  @extend .darkness;
}

.sidebar-item-active {
  background-color: $active-background-color;
  border-color: $banner-background-color;
}

.sidebar-line-container {
  padding: 7px 25px;
}

.sidebar-item-container:hover {
  cursor: pointer;

  @extend .hover-brightness;
}

.sidebar-item-right-margin {
  margin-right: 10px;
}

.sidebar-item-left-margin {
  margin-left: 10px;
}

.sidebar-item-content {
  display: flex;
  align-items: center;
}
