.new-release-header {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 20px;

  .group-button {
    display: flex;

    > button:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}
