@import "src/assets/styles/varibles";
@import "src/assets/styles/utils";

.setting-item-container {
  @extend .pointer;
  @extend .hover-brightness;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: $header-setting-item-background-color;

  .setting-item-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
  }
}
