@import "src/assets/styles/_varibles.scss";

.home-main-container {
  height: calc(100vh - 70px);
  padding: 0 59px;
  overflow-y: auto;
  background-color: $home-background-color;
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
  color: $text-color;

  > section {
    max-width: calc(100vw - 240px - 118px);
  }

  @media screen and (max-width: 1024px) {
    max-width: calc(100vw - 70px);
    padding: 0 30px;

    > section {
      max-width: calc(100vw - 70px - 60px);
    }
  }

  @media screen and (max-width: 426px) {
    padding: 0 20px;

    > section {
      max-width: calc(100vw - 70px - 40px);
    }
  }
}
