@import "src/assets/styles/_varibles.scss";

.home-page {
  height: calc(100vh - 70px);
  padding: 0 59px;
  width: 100%;
  overflow-y: auto;
  background-color: $home-background-color;
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
  color: $text-color;

  @media screen and (max-width: 1024px) {
    padding: 0 30px;
  }

  @media screen and (max-width: 426px) {
    padding: 0 20px;
  }
}
