@import "src/assets/styles/_varibles.scss";

.home-page {
  padding: 0 20px;
  width: 100%;
  height: calc(100vh - 70px);
  overflow-y: auto;
  background-color: $home-background-color;
  color: $text-color;

  section:not(:first-of-type) {
    margin-top: 4.8rem;
  }

  @media screen and (min-width: 427px) {
    padding: 0 30px;
  }

  @media screen and (min-width: 1025px) {
    padding: 0 59px;
  }
}
