@import "src/assets/styles/_varibles.scss";

.chart-title {
  font-size: 2.8rem;
}

.chart-container {
  margin-bottom: 15px;
  border-radius: 10px;
  height: 415px;
  padding: 15px;
  background-color: $chart-bg-color;

  .chart-ranking {
    display: grid;
    grid-template-columns: 40fr 60fr;
    column-gap: 20px;
  }
}
