@import "src/assets/styles/varibles";
@import "src/assets/styles/utils";

.search-bar-container {
  @extend .hover-brightness;

  flex-grow: 1;
  position: relative;
  min-width: 78px;
  height: 40px;
  font-size: 1.4rem;

  .search-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    padding: 0 10px;
    min-height: 40px;
    background-color: $header-search-background-color;

    .search-bar-input {
      flex-grow: 1;
      outline: none;
      border: none;
      background-color: $header-search-background-color;
      color: $text-color;

      .search-bar::placeholder {
        font-size: 1.2rem;
        color: $header-search-icon-color;
      }
    }
  }

  .search-bar-result {
    position: absolute;
    z-index: 100;
    margin-top: 2px;
    width: 100%;
    border-radius: 10px;
    padding: 5px 10px;
    list-style-type: none;
    background-color: $header-search-background-color;
  }

  @media screen and (min-width: 1440px) {
    max-width: 440px;
  }

  @media screen and (max-width: 1439px) {
    flex-grow: 1;
  }
}
