@import "src/assets/styles/varibles";

.partner-item-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 4px;
  width: 110px;
  height: 61px;
  background-color: $partner-item-background-color;
}
