@import "src/assets/styles/varibles";
@import "src/assets/styles/utils.scss";

.button-container {
  @extend .pointer;
  @extend .hover-darkness;
  @extend .border-top;

  max-width: 240px;
  height: 53px;
  padding: 0 28px;
  background-color: $sidebar-background-color;
  font-size: 1.3rem;
  color: $text-color;

  .button-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .button-icon {
    margin-right: 10px;
  }
}
