@import "src/assets/styles/_varibles.scss";

.event-item-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.event-item-footer-button {
  background-color: $background-purple;
  color: $text-color;
  font-size: 14px;
  padding: 9px 20px;
  text-transform: uppercase;
  border-radius: 15px;
  border: none;
}

.event-item-footer-title {
  font-size: 1.4rem;
}
