@import "../../../src/assets/styles/varibles";

.layout-main {
  display: grid;
  grid-template-columns: 240px 1fr;
  color: $text-color;
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
}
