@import "../../../assets/styles/ultilities.scss";

.sidebar-brand-container {
  height: 70px;
  padding: 28px;

  @extend .hover-darkness;
}

.sidebar-brand-logo {
  width: 120px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
