@import "src/assets/styles/utils.scss";
@import "src/assets/styles/varibles";

.brand-container {
  @extend .hover-darkness;

  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  max-width: 240px;
  height: 70px;
  padding: 0 28px;
  background-color: $sidebar-background-color;

  .zing-short-logo {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .zing-long-logo {
    display: none;
  }

  .brand-container {
    padding: 0;
    display: flex;
    justify-content: center;

    .zing-short-logo {
      display: block;
    }
  }
}
