@import "../../../../assets/styles/varibles";

.header-search-container {
  width: 500px;
  height: 50px;
  background-color: $header-search-background-color;
  border-radius: 20px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.header-search {
  background-color: $header-search-background-color;
  margin-left: 5px;
  width: 100%;
  outline: none;
  border: none;
  color: $text-color;
}

.header-search::placeholder {
  color: $text-color;
  font-size: 12px;
}
