@import "src/assets/styles/_varibles.scss";

.top-song-item {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  height: 80px;
  padding: 10px 15px;
  width: 100%;
  background-color: $top-song-bg-color;

  @media screen and (min-width: 500px) {
    min-width: 250px;
  }

  @media screen and (max-width: 355px) {
    gap: 5px;
  }
}
