@import "src/assets/styles/_varibles.scss";

.playlist-item-container {
  min-width: 195px;
  font-size: 1.4rem;

  .playlist-item-photo {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    min-width: 195px;
    width: 97%;
    height: 210px;
  }

  .playlist-item-title {
    color: #fff;
  }

  .playlist-item-desc {
    color: $text-secondary;
  }
}
