@import "src/assets/styles/_varibles.scss";

.playlist-item-container {
  font-size: 1.4rem;

  .playlist-item-photo {
    border-radius: 10px;
  }

  .playlist-item-title {
    color: #fff;
  }

  .playlist-item-desc {
    color: $text-secondary;
  }
}
