@import "src/assets/styles/_varibles.scss";
@import "src/assets/styles/utils";

.playlist-carousel-item-container {
  @extend .pointer;

  width: 95%;

  .playlist-carousel-item-photo-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    min-width: 195px;
    height: 195px;
  }

  .playlist-carousel-item-title {
    margin-top: 12px;
    margin-bottom: 0;
    color: $text-color;
  }

  .playlist-carousel-item-desc {
    color: $text-secondary;
  }

  @media screen and (max-width: 769px) {
    .playlist-carousel-item-photo-container {
      height: 180px;
    }
  }

  @media screen and (max-width: 426px) {
    width: 100%;

    .playlist-carousel-item-photo-container {
      min-width: 210px;
    }
  }
}
