@import "src/assets/styles/_varibles.scss";

.avatar-list-container {
  display: flex;
  align-items: center;
  margin-top: 5px;

  .avatar-list {
    display: flex;
  }

  .followers-number {
    color: $text-secondary;
    font-size: 1.5rem;
  }
}
