@import "../../assets/styles/varibles";

.header-container {
  height: 70px;
  background-color: $header-background-color;
  padding: 0 60px;
  display: flex;
  align-items: center;
  color: $text-color;
}
