@import "../../assets/styles/varibles";

.header-container {
  height: 70px;
  width: calc(100vw - 240px);
  overflow-x: auto;
  background-color: $header-background-color;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  position: sticky;
  top: 0;
}
