@import "src/assets/styles/_varibles.scss";

.radio-item-top-content {
  position: relative;

  .radio-item-photo {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    width: 130px;
    height: 130px;
  }

  .radio-item-tag-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10;
  }

  .radio-item-host-photo-container {
    position: absolute;
    right: 5%;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    border-radius: 50%;
    width: 47px;
    height: 47px;
  }
}

.radio-item-bot-content {
  text-align: center;

  .radio-item-host {
    margin: 5px 0;
  }

  .bot-content-text-secondary {
    margin: 0;
    color: $text-secondary;
  }
}
