.carousel-container {
  position: relative;
  margin: 20px 0;
  max-width: 1120px;
  height: 190px;
  text-align: center;

  .carousel-item {
    position: relative;
    max-width: 90%;
    height: 190px;
    overflow: hidden;

    .carousel-item-image {
      border-radius: 30px;
    }
  }
}
