.carousel-container {
  position: relative;
  margin: 20px 0;
  width: 1120px;
  height: 190px;

  .carousel-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 190px;

    .carousel-image {
      border-radius: 26px;
    }
  }
}
