@import "src/assets/styles/_varibles";
@import "src/assets/styles/utils";

.history-buttons-container {
  @extend .pointer;

  display: flex;
  margin: auto 0;
  font-size: 2.5rem;
  color: $header-button-color;

  .previous-button {
    @extend .hover-brightness;

    border: none;
    background-color: inherit;
    cursor: pointer;

    &::before {
      content: "\2190";
    }
  }

  .next-button {
    @extend .hover-brightness;

    background-color: inherit;
    border: none;
    cursor: pointer;

    &::after {
      content: "\2192";
    }
  }
}
