.playlist-container {
  margin-top: 30px;
  height: auto;

  .playlist-title {
    font-size: 2rem;
    text-transform: uppercase;
  }

  @media screen and (min-width: 1440px) {
    height: 310px;
  }
}
