@import "src/assets/styles/_varibles.scss";
@import "src/assets/styles/utils";

.playlist-carousel-item-container {
  @extend .pointer;

  width: 90%;

  .playlist-carousel-item-photo-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    aspect-ratio: 1/1;
  }

  .playlist-carousel-item-title {
    margin-top: 12px;
    margin-bottom: 0;
    color: $text-color;
  }

  .playlist-carousel-item-desc {
    color: $text-secondary;
  }

  @media screen and (min-width: 1440px) {
    max-height: 250px;
  }

  @media screen and (max-width: 426px) {
    width: 100%;
  }
}
