@import "src/assets/styles/utils";

.login-button-container {
  @extend .pointer;

  position: relative;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
}
