.event-items-container {
  display: flex;
  justify-content: space-between;

  > div:not(:last-child) {
    margin-right: 14px;
  }

  @media screen and (max-width: 426px) {
    > div:not(:last-child) {
      margin-right: 0;
    }
  }
}
