@import "src/assets/styles/_varibles.scss";

.home-main-container {
  min-width: 1200px;
  height: calc(100vh - 70px);
  padding: 0 59px;
  overflow: auto;
  background-color: $home-background-color;
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
  color: $text-color;
}
