$arrow-color: #110b1a;
$sidebar-background-color: #231b2e;
$text-color: #fff;
$dark-text-color: #000;
$banner-background-color: #6b0297;
$banner-vip-background-color: #ffdb00;
$border-color: #fff;
$vip-border-color: #ffdb00;
$vip-banner-linear-gradient: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
$active-background-color:#393243;
$header-button-color: #5b5664;
$header-background-color: #170f23;
$header-search-background-color: #2f2739;
$header-setting-item-background-color:#2f2739;
$home-background-color:#170f23;
$header-search-icon-color: #75707b;
