$arrow-color: #110b1a;
$text-color: #fff;
$text-red: #ff5a5a;
$dark-text-color: #000;
$border-color: #fff;
$active-background-color: #393243;
$background-purple:#7200a1;
$vip-border-color: #ffdb00;
$vip-banner-linear-gradient: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
$sidebar-background-color: #231b2e;
$banner-background-color: #6b0297;
$banner-vip-background-color: #ffdb00;
$home-background-color: #170f23;
$header-button-color: #5b5664;
$header-background-color: #170f23;
$header-search-background-color: #2f2739;
$header-setting-item-background-color: #2f2739;
$header-search-icon-color: #75707b;
$partner-background-color: #170f23;
$partner-item-background-color: #f7f7f7;
$partner-item-color: #554f5e;
