$arrow-color: #110b1a;
$sidebar-background-color: #231b2e;
$text-color: #fff;
$dark-text-color: #000;
$banner-background-color: #6b0297;
$banner-vip-background-color: #ffdb00;
$border-color: #fff;
$vip-border-color: #ffdb00;
