@import "src/assets/styles/_varibles.scss";
@import "src/assets/styles/utils";

.playlist-item-container {
  @extend .pointer;

  flex-grow: 1;

  .playlist-item-photo-container {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }

  .playlist-item-title {
    margin: 12px 0 4px;
    color: $text-color;
  }

  .playlist-item-desc {
    color: $text-secondary;
  }

  @media screen and (min-width: 1440px) {
    max-width: 222px;
  }

  @media screen and (max-width: 1400px) {
    &[order="4"] {
      display: none;
    }
  }

  @media screen and (max-width: 1080px) {
    &[order="3"] {
      display: none;
    }
  }

  @media screen and (max-width: 730px) {
    &[order="2"] {
      display: none;
    }
  }

  @media screen and (max-width: 426px) {
    &[order="1"] {
      display: none;
    }
  }
}
