@import "src/assets/styles/_varibles.scss";

.event-item-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .followers-title {
    margin: 0;
    font-size: 1.4rem;
  }
}
