@import "src/assets/styles/_varibles.scss";

.event-item-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  .event-item-footer-title {
    margin: 0;
    font-size: 1.4rem;
  }

  .event-item-footer-button {
    border-radius: 15px;
    border: none;
    padding: 9px 20px;
    font-size: 14px;
    text-transform: uppercase;
    color: $text-color;
    background-color: $background-purple;
  }
}
