@import "../../../assets/styles/varibles";
@import "../../../assets//styles/ultilities.scss";

.sidebar-button-container {
  color: $text-color;
  padding: 0 28px;
  height: 53px;
  font-size: 14px;

  @extend .pointer;
  @extend .hover-darkness;
  @extend .border-top;
}

.sidebar-button-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-button-icon {
  margin-right: 10px;
}
